html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 

}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}


body {
  background-color: #161720;
}

